<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.bundle.min.js'></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Personal Cinema</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="detail-movie">
        <h1 class="text-white text-lg-left"><%= title %></h1>
        <!-- <p class="text-white my-1 text-center text-lg-left">Duration:<%= movie.duration %></p> -->
        <p class="text-white my-1 text-center text-lg-left">Cateogry:<%= movie.category %></p>
        <p class="text-white my-1 text-center text-lg-left">
          Rating:<% for(var i=1; i<=5; i++){ %>
                  <% if(i <= movie.rating){ %>
                      <span class="fa fa-star checked"></span>
                  <% }else{ %>
                      <span class="fa fa-star"></span>
                <% }}  %>
        </p>
        <p class="text-white my-4 text-center text-lg-left">Description:<%= movie.description %></p>
      </div>
      <div class="preview">
      <img class="image_preview" src="/images/<%= movie.cover_image %>" alt="">
      <iframe  class="video_preview" height="600" src="https://www.youtube.com/embed/<%= movie.trailer_url %>" allowfullscreen>
      </iframe>
    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer py-2 rounded">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Personal Cinema 2017</p>
      </div>
    </footer>
  </body>
</html>
